{% extends 'HomeBundle::layout.html.twig' %}
{% block content %}
<div id="job">
    <h1>
        {{ job.company }}
    </h1>
    <h2>
        {{ job.location }}
    </h2>
    <h3>
        {{ job.position }} <small> - {{ job.type }}</small>
    </h3>
    <div class="description">
       {{ job.description}}
    </div>
    <h4>
        How to apply?
    </h4>
    <p class="how_to_apply">
        Send your resume to <a href="mailto:{{ job.email }}">{{ job.email }}</a>
    </p>
    <div class="meta">
        <small>posted on {{ job.createdat|date }}</small>
    </div>
</div>
{% endblock %}