{% extends 'HomeBundle::layout.html.twig' %}

{% block body %}
    <div id="container">
      <div id="header">
        <div class="nav">
            <ul>
              {% if app.user %}
                <li><a href="{{ path('jobz_home_login_logout') }}">Logout</a></li>
                <li>{{ app.security.getToken().getUser().getUsername() }}</li>
              {% else %}
                <li><a href="{{ path('jobz_home_login_login') }}">Login</a></li>
                <li><a href="{{ path('jobz_home_register_register') }}">Registration</a></li>
              {% endif %}
            </ul>
        </div>
        <div class="nav-menu">
          <ul>
            <li><a href="../information.html">About us</a></li>
            <li><a href="../information.html">Posting a job</a></li>
            <li><a href="../information.html">Became a member</a></li>
          </ul>
        </div>
        <div class="clearfix"></div>
        <div class="content">
          <h1>
            <a href="index.html.twig"><img src="{{ asset('bundles/home/images/jobz.gif') }}"></a>
          </h1>
          <div id="sub_header">
            <div class="post">
              <h2>
                Ask for people
              </h2>
              <div>
                <a href="../post.html">Post a Job</a>
              </div>
            </div>
            <div class="search">
                        <img src="{{ asset('bundles/home/images/ask.png') }}" alt="ask">
              <h2>
                Ask for a job
              </h2>
              <form action="" method="get">
                <input name="keywords" id="search_keywords" class="input" type="text"><input value="search" src="{{ asset('bundles/home/images/search.png') }}" class="but_search" type="image">
                <div class="help">
                  Enter some keywords (city, country, position, ...)
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      <div id="content">
        <div class="content">
          <div id="jobs">
            <div class="category_design">
              <div class="category">
                <h1>
                  <a href="../category.html">Design</a>
                </h1>
              </div>
              <table class="jobs">
                <tbody>
                  <tr class="odd">
                    <td class="location">
                      Paris, France
                    </td>
                    <td class="position">
                      <a href="../job.html">Web Designer</a>
                    </td>
                    <td class="company">
                      Extreme Sensio
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="category_programming">
              <div class="category">
                <h1>
                  <a href="../category.html">Programming</a>
                </h1>
              </div>
              <table class="jobs">
                <tbody>
                  <tr class="odd">
                    <td class="location">
                      Paris, France
                    </td>
                    <td class="position">
                      <a href="../job.html">Web Developer</a>
                    </td>
                    <td class="company">
                      Sensio Labs
                    </td>
                  </tr>
                  <tr class="even">
                    <td class="location">
                      Paris, France
                    </td>
                    <td class="position">
                      <a href="../job.html">Web Developer</a>
                    </td>
                    <td class="company">
                      Sensio Labs
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div id="footer">
        <div class="content">
          <ul>
            <li>
              <a href="../information.html">About us</a>
            </li>
            <li class="feed">
              <a href="../information.html">Contact</a>
            </li>
            <li>
              <a href="../information.html">JobZ API</a>
            </li>
            <li class="last">
              <a href="../information.html">Affiliates</a>
            </li>
          </ul>
        </div>
      </div>
      </div>
  
{% endblock %}