{% extends '::base.html.twig'%}

{% block body %}
    <div id="container">
        <div id="header">
            <div class="nav">
                <ul>
                    {% if app.user %}
                        <li><a href="{{ path('jobz_home_login_logout') }}">Logout</a></li>
                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                            <li><a href="{{ path('jobz_admin_job_index')}}">Admin</a></li>
                        {% endif %}
                    {% else %}
                        <li><a href="{{ path('jobz_home_login_login')}}">Login</a></li>
                        <li><a href="{{ path('jobz_home_register_register')}}">Registration</a></li>
                    {% endif %}
                </ul>
            </div>
            <div class="nav-menu">
                <ul>
                    {{ render(controller('HomeBundle:Menu:header'))}}
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="content">
                <h1>
                    <a href="{{ path('jobz_home_job_index') }}"><img src="{{ asset('bundles/home/images/jobz.gif') }}"></a>
                </h1>
                <div id="sub_header">
                    <div class="post">
                            <h2>
                                Ask for people
                            </h2>
                            <div>
                                <a href="{{ path('jobz_home_post_create') }}">Post a Job</a>
                            </div>
                    </div>
                    <div class="search">
                        <img src="{{ asset('bundles/home/images/ask.png') }}" alt="ask">
                        <h2>
                            Ask for a job
                        </h2>
                        <form action="{{ path('jobz_home_job_search') }}" method="get">
                            <input name="keywords" id="search_keywords" class="input" type="text"><input value="search" src="{{ asset('bundles/home/images/search.png') }}" class="but_search" type="image">
                            <div class="help">
                                Enter some keywords (city, country, position, ...)
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for flash_message in app.session.flashBag.get('notice') %}
        <div class="alert alert-info" role="alert">
            {{ flash_message }}
        </div>
    {% endfor %}

    {% block content %}{% endblock %}

    <div id="footer">
        <div class="content">
            <ul>
                {{ render(controller('HomeBundle:Menu:footer'))}}
            </ul>
        </div>
    </div>

{% endblock %}
