{% extends '::base.html.twig'%}

{% block body %}
    <div id="container">
        <div id="header">
            <div class="nav">
                <ul>
                    <ul>
                        <li><a href="{{ path('jobz_home_job_index') }}">Back to frontend</a></li>
                        <li><a href="{{ path('jobz_admin_job_index') }}">Jobs</a></li>
                        <li><a href="{{ path('jobz_admin_category_index') }}">Categories</a></li>
                        <li><a href="{{ path('jobz_admin_information_index') }}">Informations</a></li>
                        <li><a href="{{ path('jobz_admin_menu_index') }}">Menus</a></li>
                    </ul>
                </ul>
            </div>
            <div class="clearfix"></div>
            <div class="content">
                <h1>
                    <a href="{{ path('jobz_home_job_index') }}"><img src="{{ asset('bundles/home/images/jobz.gif') }}"></a>
                </h1>
                <div id="sub_header">
                </div>
            </div>
        </div>
    </div>
    <div id="content">
        <div class="content">
            {% block content %}{% endblock %}
        </div>
    </div>


{% endblock %}
